td{
    width: 3em;
    height: 3em;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#caseNoire{

  background-color: black;

}

/*
input[type=number]{

  -moz-appearance: textfield;

}
*/
